{% extends '/layout/page.html.twig' %}

{% block javascript %}
{{ parent() }}
    <script src="{{ asset('js/photo-view.js') }}"></script>
{% endblock %}

{% block css %}
    {{ parent() }}
    <link href="{{ asset('css/photo-view.css') }}" rel="stylesheet" />
    <link href="{{ asset('css/photoslider.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}
<div id="picTitle">
<h1>{{ picture.title }}</h1>
{{ include('picture/_title.html.twig', { 'genre':genre, 'tag':tag, 'album':album  }) }}
</div>

<div class="js-big-photo-container">
    <img src="/{{ picture.path }}/thumb/900/{{ picture.filename }}" data-picture-id="{{ picture.id }}">
</div>


{% if pictureList %}
    <div class="photo-slider-container js-photo-slider">
        <div class="photo-slider-content">
    {% for thumb in pictureList %}
        <a
            href="{{ include('picture/_link.html.twig', { 'picture': thumb , 'album': album , 'genre': genre , 'tag': tag }) }}#{{ thumb.id }}"
            data-picture-id="{{ thumb.id }}"
            data-picture-filename="{{ thumb.filename }}"
            data-picture-path="{{ thumb.path }}"
            {% if  thumb.id ==  picture.id%} class="selected" {% endif %}
        ><img src="/{{ thumb.path }}/thumb/3/{{ thumb.filename }}" ></a>
    {% endfor %}
        </div>
    </div>
{% endif %}
{% endblock %}
